@model VehicleLoan.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Customers.cshtml";
}

<h2>Details</h2>

<div class="col-md-3">
    <h4>Customer</h4>
    <table class="table table-success table-striped table-bordered table-hover">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td> @Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td> @Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Password)</td>
            <td>@Html.DisplayFor(model => model.Password)</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


