@model VehicleLoan.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Customers.cshtml";
}

<h2>Customer Login Portal</h2>

@using (Html.BeginForm("Login", "Customers", FormMethod.Post))
{
    <fieldset class="col-md-6">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.Email)</td>
                
                <td>@Html.TextBoxFor(a => a.Email)</td>
                <td>@Html.ValidationMessageFor(a => a.Email)</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>@Html.LabelFor(a => a.Password)</td>
                <td>@Html.PasswordFor(a => a.Password)</td>
                <td>@Html.ValidationMessageFor(a => a.Password)</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
                <td></td>
            </tr>
        </table>
        <br />

        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

    </fieldset>
}

<p>Are you new Customer</p>

@Html.ActionLink("Register", "Create", "Customers")

